extends ../layout

block head
    title Primitiva | Histórico de sorteos de la Primitiva
    meta(name="description", content="Primitiva. Histórico de sorteos de la Primitiva")
    link(rel="stylesheet", href="/css/pronostigol.css")
    link(rel="stylesheet", href="/css/backgroundImage.css")

block content
    div#wrap(data-ng-app="qdb")

        div.container(data-ng-controller="LoguedUserController", style="margin-left: 0px; padding: 0 0 0 0;")
            div(data-ng-controller="TicketsController")

                include partials/navbar

                div.col-xs-12(style="padding: 0 0 0 0")
                    div
                        div.col-xs-12(style="padding-top: 20px")
                            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787",
                                data-ad-slot="6542743559", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});

                        div.col-xs-12(style="padding-top: 15px")

                            div.col-md-6.col-sm-6.col-xs-12
                                div.alert.alert-primitiva
                                    | Aqu&iacute; podr&aacute;s buscar los sorteos de la Bonoloto de los años que se indican a continuaci&oacute;n.

                        div.col-xs-12

                            div.col-md-3
                                div.alert.alert-primitiva
                                    div.text-center
                                        i(aria-hidden="true", data-ng-hide="years").fa.fa-refresh.fa-spin
                                    ui-select(data-ng-model="selected.year", on-select="mostrarTickets(selected.year.value)"
                                        , search-enabled="false", data-ng-show="years", data-ng-cloak)
                                        ui-select-match(placeholder="Selecciona un año")
                                            | {{$select.selected.value}}
                                        ui-select-choices(repeat="year in years | orderBy:'-value'")
                                            div {{year.value}}

                            div.col-md-7.col-md-offset-1(data-ng-show="tickets.length > 0", data-ng-cloak, style="background-color: white; margin-bottom: 20px; border: 2px solid #398439 !important; border-radius: 4px")
                                div.col-md-12(style="padding-top: 20px")
                                    label.col-md-4.col-sm-4.col-xs-6(style="clear:both; padding-top:5px") Tickets por página:
                                    div.col-md-2.col-sm-2.col-xs-6
                                        input(type="number", min="1", data-ng-model="ticketsPerPage").form-control

                                table.table.tabla-primitivas
                                    thead
                                        tr
                                            th Sorteo
                                            th Día de la semana
                                            th Fecha
                                            th(data-ng-show="usuarioEstaLogueado && tickets[0].precio != null", data-ng-cloak) Apostado
                                    tbody
                                        tr(data-ng-repeat="ticket in tickets")
                                            td(data-ng-click="verTicket(ticket)", data-ng-bind-template="{{ticket.sorteo}}").pointer
                                            td(data-ng-click="verTicket(ticket)", data-ng-bind-template="{{traducirDia(ticket.fecha)}}").pointer
                                            td(data-ng-click="verTicket(ticket)", data-ng-bind-template="{{ticket.fecha | date:'dd/MM/yyyy'}}").pointer
                                            td(data-ng-show="usuarioEstaLogueado && ticket.precio != null && apuestaRealizada(ticket)", data-ng-cloak)
                                                span
                                                    i.fa.fa-check.fa-2x(style="color: green")
                                            td(data-ng-show="usuarioEstaLogueado && ticket.precio != null && !apuestaRealizada(ticket)", data-ng-cloak)
                                                span
                                                    i.fa.fa-close.fa-2x(style="color: red")

                                uib-pagination(
                                    items-per-page="ticketsPerPage",
                                    boundary-links="true",
                                    boundary-link-numbers="true",
                                    max-size="maxSize",
                                    force-ellipses="true",
                                    total-items="totalItems",
                                    data-ng-model="currentPage",
                                    data-ng-change="consultarTickets()",
                                    previous-text="<",
                                    next-text=">",
                                    first-text="Inicio",
                                    last-text="Fin").pagination-sm.abel

    include partials/footer

block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/primitiva/tickets.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')

