extends ../layout

block head
    title Euromillones | Histórico de sorteos de Euromillones
    meta(name="description", content="Euromillones. Histórico de sorteos de Euromillones")
    link(rel="canonical", href="http://www.pronostigol.es/euromillones/sorteos")
    link(rel="stylesheet", href="/css/pronostigol.css")


block content
    div#wrap(data-ng-app="qdb")

        div(data-ng-controller="LoguedUserController", style="margin-left: 0px; padding: 0 0 0 0;")
            div(data-ng-controller="TicketsController")

                include partials/navbar

                div(style="padding: 0 0 0 0")
                    main.container-fluid
                        div.col-xs-12(style="padding-top: 20px")
                            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787",
                                data-ad-slot="6542743559", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});

                        div.col-xs-12(style="padding-top: 15px")

                            div.col-md-6.col-sm-6.col-xs-12
                                div.alert.alert-euromillones
                                    | Aqu&iacute; podr&aacute;s buscar los sorteos de Euromillones de los años que se indican a continuaci&oacute;n.

                        div.col-xs-12
                            div.col-md-3
                                div.alert.alert-euromillones
                                    div.text-center
                                        i(aria-hidden="true", data-ng-hide="years").fa.fa-refresh.fa-spin
                                    ui-select(data-ng-model="selected.year", on-select="mostrarTickets(selected.year.value)"
                                    , search-enabled="false", data-ng-show="years", data-ng-cloak)
                                        ui-select-match(placeholder="Selecciona un año")
                                            | {{$select.selected.value}}
                                        ui-select-choices(repeat="year in years | orderBy:'-value'")
                                            div {{year.value}}

                            div.col-md-7.col-md-offset-1(data-ng-show="tickets.length > 0", data-ng-cloak, style="background-color: white; margin-bottom: 20px; border: 2px solid #440044 !important; border-radius: 4px")
                                div.col-md-12(style="padding-top: 20px")
                                    label.col-md-4.col-sm-4.col-xs-6(style="clear:both; padding-top:5px") Tickets por página:
                                    div.col-md-2.col-sm-2.col-xs-6
                                        input(type="number", min="1", data-ng-model="ticketsPerPage", data-ng-change="consultarTickets()").form-control

                                div.table-responsive
                                    table.table.tabla-euromilloness
                                        thead
                                            tr
                                                th Sorteo
                                                th Día de la semana
                                                th Fecha
                                                th(data-ng-show="usuarioEstaLogueado && tickets[0].precio != null", data-ng-cloak) Apostado
                                                th(data-ng-show="usuarioEstaLogueado && tickets[0].precio != null", data-ng-cloak) Premio
                                        tbody
                                            tr(data-ng-repeat="ticket in tickets")
                                                td(data-ng-click="verTicket(ticket)", data-ng-bind-template="{{ticket.sorteo}}").pointer.align-middle
                                                td(data-ng-click="verTicket(ticket)", data-ng-bind-template="{{traducirDia(ticket.fecha)}}").pointer.align-middle.capitalize
                                                td(data-ng-click="verTicket(ticket)", data-ng-bind-template="{{ticket.fecha | date:'dd/MM/yyyy'}}").pointer.align-middle
                                                td(data-ng-show="usuarioEstaLogueado && ticket.precio != null", data-ng-cloak).align-middle
                                                    span
                                                        i.fa.fa-2x(data-ng-class="{'fa-check color-green': apuestaRealizada(ticket),'fa-close color-red': !apuestaRealizada(ticket)}")
                                                td(data-ng-show="usuarioEstaLogueado && ticket.precio != null", data-ng-cloak, data-ng-bind="getPrize(ticket)", data-ng-class="{'color-green bold': ticketHasPrize(ticket)}").align-middle


                                uib-pagination(
                                    data-ng-hide="tickets.length === 0",
                                    data-ng-cloak,
                                    items-per-page="ticketsPerPage",
                                    boundary-links="true",
                                    boundary-link-numbers="true",
                                    max-size="maxSize",
                                    force-ellipsis="true",
                                    total-items="totalItems",
                                    data-ng-model="currentPage",
                                    data-ng-change="consultarTickets()",
                                    previous-text="<",
                                    next-text=">",
                                    first-text="Inicio",
                                    last-text="Fin").pagination-sm.abel

    include partials/footer

block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/i18n/angular-locale_es-es.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/euromillones/tickets.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')
    script(src="/bower_components/angular-ui-carousel/dist/ui-carousel.js")

