extends ../layout

block head
    title ⚽ Quiniela | Estadísticas de la quiniela
    //- SEO
    meta(name="description", content="📊 Estadísticas avanzadas sobre la quiniela. ⚡ Se incluyen multitud de filtros para personalizar las consultas.")
    meta(name="keywords", content="quiniela, estadísticas, estadisticas")
    link(rel="canonical", href="https://www.pronostigol.es/quiniela/estadisticas")
    //- OpenGraph
    meta(property="og:locale", content="es_ES")
    meta(property="og:type", content="website")
    meta(property="og:title", content="⚽ Quiniela | Estadísticas de la quiniela")
    meta(property="og:description", content="📊 Estadísticas avanzadas sobre la quiniela. ⚡ Se incluyen multitud de filtros para personalizar las consultas.")
    meta(property="og:url", content="https://www.pronostigol.es/quiniela/estadisticas")
    meta(property="og:site_name", content="Pronostigol")
    meta(property="og:image", content="https://www.pronostigol.es/img/logo-quiniela.png")
    //- Twitter
    meta(name="twitter:card", content="summary")
    meta(name="twitter:description", content="📊 Estadísticas avanzadas sobre la quiniela. ⚡ Se incluyen multitud de filtros para personalizar las consultas.")
    meta(name="twitter:title", content="⚽ Quiniela | Estadísticas de la quiniela")
    meta(name="twitter:image", content="https://www.pronostigol.es/img/logo-quiniela.png")
    meta(name="twitter:site", content="@pronostigolesp")
    //- Stylesheets
    link(rel="stylesheet", href="/css/quiniela.css")

block content
    div#wrap(data-ng-app="qdb")

        div(data-ng-controller="LoguedUserController")
            div(data-ng-controller="ConsultasController")

                include partials/navbar

                div(style="padding: 0 0 0 0")
                    main.container-fluid

                        div.col-xs-12(data-ng-if="temporadas.length > 0", data-ng-cloak, style="margin-top:15px; padding-left: 0px; padding-right: 0px")
                            div.alert.alert-info.alert-quiniela.
                                Ésta es, casi con total seguridad, la funcionalidad más importante de esta
                                aplicación web. Aquí podrá realizar una gran variedad de consultas para saber
                                cuáles son las combinaciones más repetidas, los datos de un equipo como local o
                                visitante, los resultados más repetidos según la fila y otras muchas cosas.


                        div.col-md-12.col-md-offset-0.col-sm-12.col-xs-12(data-ng-if="temporadas.length > 0 && competiciones.length > 0 && equipos.length > 0", style="margin-top:20px; padding: 0 0 0 0; background-color: white; border: 2px solid #0480be; border-radius: 4px", data-ng-cloak)

                            uib-tabset.col-xs-12(style="padding: 0 0 0 0;", data-ng-cloak)
                                uib-tab.col-md-6.col-sm-6.col-xs-6(style="padding: 0 0 0 0", heading="Personalizadas", active="primeraPestana", data-ng-click="activarPestana(1)")
                                    div.col-xs-12(style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd;")
                                        div.col-xs-12(style="padding: 0 0 0 0; margin-top: 15px").form-group
                                            label.col-md-2.col-md-offset-1.col-sm-2.col-sm-offset-1.col-xs-12.control-label Temporada:
                                            div.col-md-4.col-md-offset-0.col-sm-4.col-sm-offset-0.col-xs-12
                                                // Este select era el original.
                                                // select.form-control(data-ng-model="temporadaSeleccionada", data-ng-init="temporadaSeleccionada = temporadaSeleccionada || temporadas[0].name", data-ng-options="temporada.value as temporada.name for temporada in temporadas")
                                                input#temporadaSeleccionada(data-ng-model="form.temporadaSeleccionada", placeholder="Histórico", uib-typeahead="temporada.value as temporada.name for temporada in temporadas | filter:{name:$viewValue}").form-control
                                            div.col-md-5.col-sm-5.hidden-xs
                                                button(uib-popover="{{ayudaTemporada}}", popover-trigger="mouseenter", popover-placement="right").btn.btn-default.btn-qdb
                                                    | Ayuda
                                            div.hidden-lg.hidden-md.hidden-sm.col-xs-12(style="padding-top: 30px; padding-bottom: 10px")
                                                button(uib-popover="{{ayudaTemporada}}", popover-trigger="mouseenter", popover-placement="right").btn.btn-default.btn-qdb
                                                    | Ayuda

                                        div.col-xs-12(style="padding: 0 0 0 0").form-group
                                            label.col-md-2.col-md-offset-1.col-sm-2.col-sm-offset-1.col-xs-12.control-label Competición:
                                            div.col-md-4.col-md-offset-0.col-sm-4.col-sm-offset-0.col-xs-12
                                                // Este select era el original.
                                                // select.form-control(data-ng-model="competicionSeleccionada", data-ng-init="competicionSeleccionada = competicionSeleccionada || competiciones[0].name", data-ng-options="competicion.value as competicion.name for competicion in competiciones")
                                                input#competicionSeleccionada(type="text", placeholder="Todas", data-ng-model="form.competicionSeleccionada", uib-typeahead="competicion.value as competicion.name for competicion in competiciones | filter:{name:$viewValue}").form-control
                                            div.col-md-5.col-sm-5.hidden-xs
                                                button(uib-popover="{{ayudaCompeticion}}", popover-trigger="mouseenter", popover-placement="right").btn.btn-default.btn-qdb
                                                    | Ayuda
                                            div.hidden-lg.hidden-md.hidden-sm.col-xs-12(style="padding-top: 30px; padding-bottom: 10px")
                                                button(uib-popover="{{ayudaCompeticion}}", popover-trigger="mouseenter", popover-placement="right").btn.btn-default.btn-qdb
                                                    | Ayuda

                                        div.col-xs-12(style="padding: 0 0 0 0").form-group
                                            label.col-md-2.col-md-offset-1.col-sm-2.col-sm-offset-1.col-xs-12.control-label Buscar por:
                                            div.col-md-3.col-md-offset-1.col-sm-3.col-sm-offset-1.col-xs-9.col-xs-offset-3
                                                label.col-xs-12
                                                    input(type="radio", name="optionsRadios", data-ng-checked="true", value="general", data-ng-model="form.opcionBusqueda")#radio1
                                                    | &nbsp; General
                                                label.col-xs-12
                                                    input(type="radio", name="optionsRadios", value="equipo", data-ng-model="form.opcionBusqueda")#radio2
                                                    | &nbsp; Equipo
                                                label.col-xs-12
                                                    input(type="radio", name="optionsRadios", value="partido", data-ng-model="form.opcionBusqueda")#radio3
                                                    | &nbsp; Partido
                                            div.col-md-5.col-sm-5.hidden-xs
                                                button(uib-popover="{{ayudaBusqueda}}", popover-trigger="mouseenter", popover-placement="right").btn.btn-default.btn-qdb
                                                    | Ayuda
                                            div.hidden-lg.hidden-md.hidden-sm.col-xs-12(style="padding-top: 35px; padding-bottom: 15px")
                                                button(uib-popover="{{ayudaBusqueda}}", popover-trigger="mouseenter", popover-placement="right").btn.btn-default.btn-qdb
                                                    | Ayuda

                                        div.col-xs-12(style="padding: 0 0 0 0", data-ng-if="form.opcionBusqueda == 'equipo'", data-ng-cloak).form-group
                                            label.col-md-2.col-md-offset-1.col-sm-2.col-sm-offset-1.col-xs-12.control-label Equipo:
                                            div.col-md-4.col-md-offset-0.col-sm-6.col-xs-12
                                                //input.form-control(data-ng-model="equipoSeleccionado", placeholder="Equipo")
                                                input#equipoSeleccionado.form-control(data-ng-model="form.equipoSeleccionado", placeholder="Equipo", uib-typeahead="equipo.value as equipo.name for equipo in equipos | filter:{name:$viewValue} | orderBy:'name'")

                                        div.col-xs-12(style="padding: 0 0 0 0", data-ng-if="form.opcionBusqueda == 'partido'", data-ng-cloak).form-group
                                            label.col-md-2.col-md-offset-1.col-sm-2.col-sm-offset-1.col-xs-12.control-label Partido:

                                            div.col-md-4.col-md-offset-0.col-sm-4.col-sm-offset-0.hidden-xs
                                                //input.form-control(data-ng-model="equipoLocalSeleccionado", placeholder="Equipo local")
                                                input.form-control(data-ng-model="form.equipoLocalSeleccionado", placeholder="Equipo local", uib-typeahead="equipo.value as equipo.name for equipo in equipos | filter:{name:$viewValue} | orderBy:'name'")
                                            div.hidden-lg.hidden-md.hidden-sm.col-xs-12(style="padding-bottom: 15px")
                                                //input.form-control(data-ng-model="equipoLocalSeleccionado", placeholder="Equipo local")
                                                input.form-control(data-ng-model="form.equipoLocalSeleccionado", placeholder="Equipo local", uib-typeahead="equipo.value as equipo.name for equipo in equipos | filter:{name:$viewValue} | orderBy:'name'")

                                            div.col-md-4.col-md-offset-0.col-sm-4.col-sm-offset-0.hidden-xs
                                                //input.form-control(data-ng-model="equipoVisitanteSeleccionado", placeholder="Equipo visitante")
                                                input.form-control(data-ng-model="form.equipoVisitanteSeleccionado", placeholder="Equipo visitante", uib-typeahead="equipo.value as equipo.name for equipo in equipos | filter:{name:$viewValue} | orderBy:'name'")
                                            div.hidden-lg.hidden-md.hidden-sm.col-xs-12
                                                //input.form-control(data-ng-model="equipoVisitanteSeleccionado", placeholder="Equipo visitante")
                                                input.form-control(data-ng-model="form.equipoVisitanteSeleccionado", placeholder="Equipo visitante", uib-typeahead="equipo.value as equipo.name for equipo in equipos | filter:{name:$viewValue} | orderBy:'name'")


                                        div.col-xs-12.form-group
                                            div.col-sm-2.col-sm-offset-5.col-xs-12(style="text-align:center")
                                                button.btn.btn-default.btn-qdb.abel(href="#", title="Consultar", role="button", data-ng-click="consultar()", data-ng-disabled="consultando") Consultar

                                        div.col-xs-12#paneles

                                            include partials/tablaPorFilas

                                            include partials/tablaPorFilasLocalYVisitante

                                            include partials/plenoRenovado

                                            include partials/plenoRenovadoLocalYVisitante

                                uib-tab.col-md-6.col-sm-6.col-xs-6(style="padding: 0 0 0 0", heading="Estándar", active="segundaPestana", data-ng-click="activarPestana(2)")

                                    div.col-xs-12(style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd;")
                                        div.col-xs-12(style="padding: 0 0 0 0; margin-top: 15px").form-group
                                            div.col-md-12
                                                label.col-md-5.col-md-offset-2.col-sm-12.col-xs-12
                                                    input(type="radio", name="optionsRadiosEstandar", value="combinacionesSucedidas", data-ng-checked="true", data-ng-model="form.opcionBusquedaEstandar")#radio1Estandar
                                                    | &nbsp; Combinaciones por ocurrencia
                                                div.col-md-5.col-sm-5.hidden-xs
                                                    button(uib-popover="{{ayudaCombinacionesOcurrencia}}", popover-trigger="mouseenter", popover-placement="right").btn.btn-default.btn-qdb
                                                        | Ayuda

                                                div.hidden-lg.hidden-md.hidden-sm.col-xs-12(style="padding-top: 30px; padding-bottom: 10px")
                                                    button(uib-popover="{{ayudaCombinacionesOcurrencia}}", popover-trigger="mouseenter", popover-placement="right").btn.btn-default.btn-qdb
                                                        | Ayuda

                                        div.col-xs-12.form-group
                                            div.col-sm-2.col-sm-offset-5.col-xs-12(style="text-align:center")
                                                button.btn.btn-default.btn-qdb.abel(href="#", title="Consultar", role="button", data-ng-click="consultarEstandar()", data-ng-disabled="consultando") Consultar

                                        div.col-xs-12#panelesEstandar
                                            include partials/tablaCombinacionesSucedidas

                                            div.text-center(data-ng-if="mostrarCombinacionesSucedidas")
                                                uib-pagination(
                                                    items-per-page="pagination.itemsPerPage",
                                                    boundary-links="true",
                                                    boundary-link-numbers="true",
                                                    max-size="pagination.maxSize",
                                                    force-ellipses="true",
                                                    total-items="pagination.totalItems",
                                                    data-ng-model="pagination.currentPage",
                                                    data-ng-change="consultarEstandar()",
                                                    previous-text="<",
                                                    next-text=">",
                                                    first-text="Inicio",
                                                    last-text="Fin").pagination-sm.abel

                        div.col-xs-12(style="margin-top:50px; margin-bottom: 15px")
                            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787",
                            data-ad-slot="9496209954", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});

    include ../partials/footer

block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/i18n/angular-locale_es-es.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/quiniela/consultas.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')
    script(src="/bower_components/angular-ui-carousel/dist/ui-carousel.js")


