extends ../layout

block head
    title Quiniela | Histórico de sorteos de la Quiniela
    meta(name="description", content="Quiniela. Histórico de sorteos de la Quiniela")
    link(rel="canonical", href="http://www.pronostigol.es/quiniela/sorteos")
    link(rel="stylesheet", href="/css/quiniela.css")

block content
    div#wrap(data-ng-app="qdb")
        div(data-ng-controller="LoguedUserController", style="margin-left: 0px; padding: 0 0 0 0;")
            div(data-ng-controller="QuinielasController")

                include partials/navbar

                div(style="padding: 0 0 0 0")
                    div.container-fluid
                        div.col-xs-12(style="padding-top: 20px")
                            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787",
                                data-ad-slot="6542743559", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});

                        div.col-xs-12(style="padding-top: 15px")

                            div.col-md-6.col-sm-6.col-xs-12
                                div.alert.alert-info.alert-quiniela
                                    | Aqu&iacute; podr&aacute;s buscar las quinielas de las temporadas que se indican a continuaci&oacute;n.

                        div.col-xs-12

                            div.col-md-3
                                div.alert.alert-quiniela
                                    div.text-center
                                        i(aria-hidden="true", data-ng-hide="seasons").fa.fa-refresh.fa-spin
                                    ui-select(data-ng-model="selected.season", on-select="mostrarTickets(selected.season.value)"
                                    , search-enabled="false", data-ng-show="seasons", data-ng-cloak)
                                        ui-select-match(placeholder="Selecciona una temporada")
                                            | {{$select.selected.value}}
                                        ui-select-choices(repeat="season in seasons | orderBy:'-value'")
                                            div {{season.value}}

                            div.col-md-7.col-md-offset-1(data-ng-show="tickets.length > 0", data-ng-cloak, style="background-color: white; margin-bottom: 20px; border: 2px solid #0480be !important; border-radius: 4px")
                                div.col-md-12(style="padding-top: 20px")
                                    label.col-md-4.col-sm-4.col-xs-6(style="clear:both; padding-top:5px") Quinielas por página:
                                    div.col-md-2.col-sm-2.col-xs-6
                                        input(type="number", min="1", data-ng-model="ticketsPerPage").form-control

                                table.table.tabla-quinielas
                                    thead
                                        tr
                                            th Jornada
                                            th Modalidad
                                            th Fecha
                                    tbody
                                        tr(data-ng-repeat="ticket in tickets")
                                            td(data-ng-click="verTicket(ticket)", data-ng-bind-template="{{ticket.jornada}}").pointer
                                            td(data-ng-click="verTicket(ticket)", data-ng-bind-template="{{ticket.modalidad}}").pointer
                                            td(data-ng-click="verTicket(ticket)", data-ng-bind-template="{{ticket.fecha | date:'dd/MM/yyyy'}}").pointer

                                div.text-center
                                    uib-pagination(
                                        items-per-page="ticketsPerPage",
                                        boundary-links="true",
                                        boundary-link-numbers="true",
                                        max-size="maxSize",
                                        force-ellipses="true",
                                        total-items="totalItems",
                                        data-ng-model="currentPage",
                                        data-ng-change="consultarTickets()",
                                        previous-text="<",
                                        next-text=">",
                                        first-text="Inicio",
                                        last-text="Fin").pagination-sm.abel

    include ../partials/footer

block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/quiniela/tickets.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')
    script(src="/bower_components/angular-ui-carousel/dist/ui-carousel.js")